/*  폰트 적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
    font-family: font-family: 'MarkPro-Book';
    overflow-x: hidden;
}

/* 반응형 레이아웃 */
.con {
    max-width: 1200px;
}

/* 상단헤더 시작 */
.header {
    width: 100%;
    height: 140px;
    margin: 0 auto;
    position: absolute;
    padding: 25px 2% 0px;
    color: #ffffff;
    box-sizing: border-box;
    z-index: 100;
}

.header > .top-logo {
    width: 21%;
    position: relative;
}

.header > .top-logo > a > img.logo2 {
    width: 77px;
    height: 44px;
    display: none;
    position: absolute;
    top: 10px;
    left: 0;
}

/* 낫스크롤탑0 헤더 */
html.not-scroll-top-0 .header {
    height: 80px;
    padding-top: 10px;
    border-bottom: 0px solid rgba(0, 0, 0, 0.1);
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    color: #000000;
}

html.not-scroll-top-0 .header .language-box {
    margin-top: 10px;
}

html.not-scroll-top-0 .header .top-menu {
    margin-top: 15px;
}

html.not-scroll-top-0 .header > .top-logo > a > img.logo1 {
    display: none;
}

html.not-scroll-top-0 .header > .top-logo > a > img.roll-logo {
    display: block;
}

html.not-scroll-top-0 .header > .top-logo:hover > a > img.logo2-hover {
    display: block;
}

/* 상단헤더 language-box */
.header > .language-box {
    height: 40px;
    margin-top: 20px;
    display: block;
    cursor: pointer;
    user-select: none;
}

.header > .language-box > .select-l {
    width: 100px;
    line-height: 40px;
    height: 40px;
    padding: 0 13px;
    position: relative;
    border: solid 1px #cccccc;
    font-size: 12px;
    text-align: left;
}

.header > .language-box > .select-l > .open-btn {
    position: absolute;
    right: 10px;
    top: 0;
}

.header > .language-box > .select-l > .open-btn > img {
    width: 11px;
    height: 6px;
    transform: rotate(0);
}

.header > .language-box.active > .select-l > .open-btn > img {
    transform: rotate(180deg);
}

html.not-scroll-top-0 .header > .language-box > .select-l > .open-btn::after {
    content: "";
    display: block;
    position: relative;
    background-image: url(https://jihye730.github.io/pf-img/blankcorp/img/indeximg/lang_down_roll.png);
    bottom: 23px;
    left: 0;
    width: 11px;
    height: 6px;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html.not-scroll-top-0 .header > .language-box.active > .select-l > .open-btn::after {
    transform: rotate(180deg);
}

.header > .language-box > ul.select-open {
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: max-height .1s, padding .1s;
}

.header > .language-box.active > ul.select-open {
    padding: 10px 0;
    max-height: 126px;
    transition: max-height .3s, padding .3s;
}

.header > .language-box > ul.select-open > li {
    padding-left: 13px;
    height: 26px;
    line-height: 26px;
}

.header > .language-box > ul.select-open > li > a {
    color: #222;
    font-size: 13px;
    font-weight: 300;
}

.header > .language-box > ul.select-open > li > a.selected {
    text-decoration: underline;
}

.header > .language-box > ul.select-open > li:hover > a {
    text-decoration: underline;
}

/* 탑메뉴 */
.header > .top-menu {
    width: 60%;
    margin-top: 25px;
    position: relative;
    text-align: right;
}

.header > .top-menu > ul {
    display: inline-block;
}

.header > .top-menu > ul > li > a {
    margin-right: 28px;
    font-size: 18px;
    padding: 0 0 10px 0;
    display: inline-block;
    font-family: 'MarkPro-Book';
}

/* 상단헤더 끝 */

/*  page1 - main wrap 시작 */
.page1 {
    height: 100vh;
    position: relative;
}

.main-wrap video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main-wrap > .con > .relative {
    height: 100vh
}

.main-wrap .con .absolute-left {
    color: #ffffff;
}

.main-wrap .con .title {
    font-size: 80px;
    bottom: 180px;
    line-height: 1.1em;
    font-weight: 800;
}

.main-wrap .con .box-1 {
    background-color: #000;
    width: 200px;
    height: 200px;
    bottom: -50px;
    cursor: pointer;
}

.main-wrap .con .box-1 > div {
    font-weight: 800;
    font-size: 18px;
    padding-left: 30px;
    margin-top: 30px;
}

.main-wrap .con .box-1 > img {
    display: block;
    width: 21px;
    margin-top: 15px;
    padding-left: 30px;
}

/*  page1 - main wrap 끝 */

/*  page2 시작 */
.page2 > .con {
    margin-top: 180px;
}

.page2 > .con .box-1 > ul > li {
    width: 50%;
    padding: 0 30px
}

.page2 > .con .box-1 > ul {
    margin: 0 -30px;
}

/* box-1 */
.page2 > .con .box-1 > ul > li > .category {
    font-size: 16px;
    padding: 10px 0;
    color: #000;
    border-bottom: 1px solid #d6d6d6;
}

.page2 > .con .box-1 > ul > li > .title {
    font-size: 22px;
    font-weight: 600;
    display: block;
    letter-spacing: -1.2px;
    margin: 20px 0 10px;
    cursor: pointer;
}

.page2 > .con .box-1 > ul > li > .content {
    font-size: 15px;
    line-height: 24px;
    color: #666666;
    letter-spacing: -1px;
}

/* box-2 */
.page2 > .con .box-2 {
    box-sizing: border-box;
}

.page2 > .con .box-2 ul > li {
    width: 33.333%;
    padding: 0 15px;
}

.page2 > .con .box-2 ul {
    margin: 100px -15px 150px;
    box-sizing: border-box;
}

.page2 > .con .box-2 ul > li > .title {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    padding: 20px 0;
}

.page2 > .con .box-2 ul > li > .content {
    fons-size: 15px;
    color: #666;
}

.page2 > .con .box-2 ul > li > .img-box {
    cursor: pointer;
    box-sizing: border-box;
}

.page2 > .con .box-2 ul > li > .img-box > img {
    box-sizing: border-box;
}

/* page3 */
.page3 {
    box-sizing: border-box;
}

.page3 .item {
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.page3 > .box-1 {
    width: 190px;
    height: 180px;
    background-color: #000;
    bottom: -60px;
    z-index: 10;
}

.page3 > .box-1 > div {
    color: #fff;
    font-size: 16px;
    padding-left: 30px;
    margin-top: 30px;
}

.page3 > .box-1 > img {
    width: 20px;
    padding-left: 30px;
    margin-top: 15px;
}

/* page3 - progress bar owl-dots */
.slider > .owl-carousel > .owl-dots {
    padding: 0;
    position: absolute;
    bottom: -30px;
    left: 80px;
    right: 10px;
    width: 75%;
}

.slider > .owl-carousel > .owl-dots > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    box-sizing: border-box;
    background-color: #e5e5e5;
    display: none;
}

.slider > .owl-carousel > .owl-dots > div.active {
    display: block;
}

.slider > .owl-carousel > .owl-dots > div > span {
    display: block;
    width: 0;
    margin: 0;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #000;
    height: 2px;
}

.slider[data-carousel-1-autoplay-status="N"] > .owl-carousel > .owl-dots > div.active > span {
    animation-play-state: paused;
}

.slider > .owl-carousel > .owl-dots > div.active > span {
    animation: width-full 4s 1;
    animation-fill-mode: forwards;
}

.slider[data-carousel-1-autoplay-status="Y"] .play {
    display: none;
}

.carousel-1[data-carousel-1-autoplay-status="N"] .stop {
    display: none;
}

@keyframes width-full {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* 아이템 카운터 */
.item-counter {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 20px;
}

.item-counter > .total-item-no {
    color: #cacaca;
}

/* footer */
.footer {
    margin-top: 300px;
}

.footer > .f-inner {
    width: 96%;
    margin: 0 auto;
    border-top: solid 1px #d6d6d6;
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
}

/* 임시 탑 버튼 */
.footer > .f-inner .top-btn {
    display: block;
    background-image: url(https://jihye730.github.io/pf-img/blankcorp/img/indeximg/lang_down_roll.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    z-index: 10;
    filter: invert(100%);
    position: absolute;
    top: -35px;
    right: 4px;
    cursor: pointer;
    transform: rotate(180deg);
}

.footer > .f-inner::after {
    content: "";
    display: block;
    background-color: #000;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 100%;
    right: 0;
}

/* 임시 탑 버튼 끝 */
.footer .footer-mark {
    width: 420px;
}

@media (max-width:430px) {
    .footer .footer-mark {
        width: 320px;
    }

    .footer .footer-infor {
        width: 360px;
    }

}

.footer .footer-mark .f-logo {
    font-size: 20px;
    margin-bottom: 8px;
}

.footer .footer-mark .f-copy {
    font-size: 12px;
}

.footer .footer-infor {
    width: 400px;
}

.footer .footer-infor .f-mail {
    font-size: 13px;
    text-decoration: underline;
}

.footer .footer-infor > div {
    margin-bottom: 8px;
    display: block;
    font-size: 12px;
}

.footer .footer-sns {
    margin-bottom: 20px;
    margin-right: 2%;
}

.footer .footer-sns a > img {
    width: 22.5px;
    height: 22.5px;
}

/* 모바일 메뉴 */
.header > .show-mobile-menu {
    width: 40px;
    height: 40px;
    margin-top: 45px;
    cursor: pointer;
    display: none;
}

.header > .show-mobile-menu > div {
    width: 100%;
    height: 6px;
    background-color: #fff;
    margin-bottom: 6px;
}

html.not-scroll-top-0 .header > .show-mobile-menu {
    margin-top: 25px;
}

html.not-scroll-top-0 .header > .show-mobile-menu > div {
    background-color: #000;
}

.show-mobile-main-wrap {
    display: none;
}

.show-mobile-main-wrap .relative {
    width: 100vh
}

.show-mobile-main-wrap .absolute-left {
    color: #ffffff;
}

.show-mobile-main-wrap .mobile-con {
    margin-left: 25px;
}

.show-mobile-main-wrap .title {
    font-size: 60px;
    bottom: 130px;
    line-height: 1.1em;
    font-weight: 800;
}

.show-mobile-main-wrap .box-1 {
    background-color: #000;
    width: 150px;
    height: 150px;
    bottom: -90px;
    cursor: pointer;
}

.show-mobile-main-wrap .box-1 > div {
    font-weight: 800;
    font-size: 18px;
    padding-left: 25px;
    margin-top: 25px;
}

.show-mobile-main-wrap .box-1 > img {
    display: block;
    width: 21px;
    margin-top: 15px;
    padding-left: 25px;
}

/* 상단 반응형 */
@media(max-width:770px) {

    .header .hid,
    .page1 {
        display: none;
        overflow: hidden;
    }

    .header {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header .show-mobile-menu,
    .show-mobile-main-wrap {
        display: block;
    }

    .page2 > .con > ul > .box-1 {
        box-sizing: border-box;
    }

    .page2 > .con > ul > .box-1 > ul {
        margin: 0 25px;
    }

    .page2 > .con > ul > .box-1 > ul > li {
        width: 100%;
        display: block;
        padding: 0;
        margin-top: 20px;
    }

    .page2 > .con > ul > .box-2 > ul {
        margin: 70px 25px 0 25px;
    }

    .page2 > .con > ul > .box-2 > ul > li {
        width: 100%;
        padding: 0;
        margin-top: 40px;
    }

    .page2 > .con > ul > .box-2 > ul > li:last-child {
        margin-bottom: 60px;
    }

    .footer > .f-inner > .cell-right,
    .footer > .f-inner > .cell {
        float: none;
    }
}

/* 모바일 팝업 메뉴 */
.mobile-menu-box {
    width: 100%;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    overflow: hidden;
}

.mobile-menu-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

.header.active .mobile-menu-bg {
    display: block;
}

.mobile-menu-box > .m-inner {
    padding: 0 15px;
}

.mobile-menu-box > .m-inner > .btn-close {
    display: block;
    padding: 20px 0;
    width: 100%;
    border-bottom: solid 1px #ccc;
    text-align: right;
}

.mobile-menu-box > .m-inner > .btn-close > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding-right: 5px;
    padding-top: 5px;
}

.mobile-menu-box > .m-inner > .menu-1 {
    padding-top: 15px;
}

.mobile-menu-box > .m-inner > .menu-1 > li {
    font-size: 20px;
    margin: 20px 0;
    color: #000000;
    cursor: pointer;
}

.mobile-menu-box > .m-inner > .menu-1 > .logo-mark {
    margin-top: 60px;
}

.mobile-menu-box > .m-inner > .menu-1 > .logo-mark > div {
    font-size: 12.96px;
    color: #cccccc;
}

.mobile-menu-box > .m-inner > .menu-1 > .logo-mark > .bold {
    font-size: 12.96px;
    font-weight: bold;
    color: #000;
}
